/* Larger that laptop */
@media (max-width: 1200px) {
  header{
    & > nav{

      & > .navbar{

        &.nav{

          & > li{
            // &:first-child{
            //   padding-left: 0px;
            // }
            
            // &:last-child{
            //   padding-right: 0px;
            // }
          }

        }

      }

    }
  }
  .container{
    max-width: 90% ;
  }
}
/* This is basically a decent laptop, up to an average external display */
@media (max-width: 992px) {

  .container{
    max-width: 90% ;
  }

  #gallery{
    & .gallery-wrap{
      grid-auto-rows: minmax(165px, auto) ;
    }
  }

}
/* Up to a tablet (includes iPads in landscape) */
@media (max-width: 768px) {

  .container{
    max-width: 85% ;
  }

  // first section
  .flexy-item{
    & > .flexy-desc{
      & > h6{
        font-size : 1.08em ;
      }
      & > p {
        font-size : .75em ;
      }
    }
  }

  // second section
  #say{
    & .quote{
      & > p.message{
        font-size: 1em ;
      }
    }
  }

  // third section
  #gallery{
    & .gallery-wrap{
      grid-auto-rows: minmax(150px, auto);
    }
  }

}
/* Smaller than an iPad portrait (so all phones) */
@media (max-width: 480px) {
  header{
    & > nav{
      display: block;
      margin: 10px 0 ;
      & > .navbar{

        &.logo{
          display: block ;
          padding-bottom : 0px ;
        }

        &.logo:active + &.nav, &.logo:focus + &.nav{
          display: block ;
        }

        &.nav {
          display: none ;
          margin-left: 10px ;

          & > li{
            border-bottom : 1px solid #fff ;
            display: block ;
            font-size : 1.125em ;
            padding : 0 ;

            & > a{
              display: block ;
              padding : 15px 15px 5px ;

              &::after{
                display: none ;
              }

              &::before{
                display: none ;
              }

              &:hover, &:active, &:focus{
                background: rgba(255,255,255,.3);
              }
            }
          }

        }

      }
    }

    & > .overlay{
      & > div {
        & > h1{
          font-size : 2.25em ;
        }

        & > p{
          font-size: .875em ;
        }
      }
    }
  }

  .container{
    max-width: 90%;
  }

  .row{
    &.row-inline-center{
      flex-direction : column ;
    }
  }

  .title-section{
    padding : 0 20px ;

    & > h1{
      font-size : 1.75em ;
    }
  }

  // first section
  .flexy-item {
    margin: 25px 0px ;
    & > .flexy-icon{
      margin : 0 auto 20px ;
    }
  }

  // second-section
  #say {
    & .quote{
      & > p.message{
        font-size : .9em ;
      }
    }
  }

  // third section
  #gallery{
    & .gallery-wrap{
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(125px, auto) ;

      & > div.biggest{
        grid-column : 1 / 3 ;
        grid-row : 2 / 4 ;
      }

      & > div.wide {
        grid-row : 4 ;
      }
    }
  }
}