/**
* Design for flexbox CSS component practice
* Made by Ashari Muhammad Hisbulloh (asharimh97@gmail.com)
* Yogyakarta, 11 October 2017
**/

html, body{
  background: #fff;
  left: 0 ;
  margin: 0 ;
  padding: 0 ;
  top: 0 ;
}

//=============== // Variables // ================//
$white: #fff;
$black: #000;
$red: #e74c3c;
$cloud: #ecf0f1;

//===============================================//

//================ // Fonts // =================//

@font-face {
  font-family: 'Arca Majora';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/arcamajora-heavy.woff2') format('woff2'),
       url('../fonts/arcamajora-heavy.woff') format('woff');
}

@font-face{
  font-family: 'Aller';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/aller_rg.woff2') format('woff2'),
       url('../fonts/allet_rg.woff') format('woff');
}

@font-face{
  font-family: 'Aller Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/aller_lt.woff2') format('woff2'),
       url('../fonts/aller_lt.woff') format('woff');
}

//=============================================//

header{
  display: flex;
  display: -webkit-flex;
  height: 100vh;
  background: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & > nav{
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
    font-family: 'Aller Light', sans-serif;
    justify-content: space-between;
    position: absolute;
    width: 100%;

    & > .navbar{
      padding: 20px;

      &.logo{
        color: $white;
        font-family: 'Aller', sans-serif;
        font-size: 1.5em;
        text-decoration: none;

        & > span{
          color: $red;
        }
      }

      &.nav{
        display: flex;
        padding: 0 15px 0 0;
        justify-content: flex-end;
        list-style: none;

        & > li{
          margin: 0 3px;
          padding: 0px 15px;

          & > a{
            color: $white;
            position: relative;
            text-decoration: none;
            text-transform: lowercase;

            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;

            &::after{
              background: $white;
              bottom: -5px;
              content: "";
              height: 2px;
              left: 0;
              position: absolute;
              width: 0px;

              transition: all 0.1s ease-in;
              -webkit-transition: all 0.1s ease-in;
              -moz-transition: all 0.1s ease-in;
              -o-transition: all 0.1s ease-in;
            }

            &:hover{
              &::after{
                width: 20px;
              }
            }
          }
        }
      }
    }
  }

  & > .overlay{
    align-items: center;
    background: rgba(0,0,0,0.7);
    display: flex;
    display: -webkit-flex;
    flex: 1;
    justify-content: center;

    & > div{
      color: $white;
      text-align: center;
      font-family: 'Aller Light', sans-serif;

      & > *{
        margin: 0;
        padding: 0;
      }

      & > h1{
        font-size: 4.5em;
        font-weight: lighter;
      }

      & > p{
        font-size: 1.25em;
      }
    }
  }
}

// section
.container{
  margin: auto;
  position: relative;
  width : 1080px ;
}
.flexy-section{
  padding: 30px 0;

  &.black{
    background: $black;
    color: $white;
  }

  &.white{
    background: $white;
    color: $black;
  }

  &.cloud{
    background: $cloud;
    color: $black;
  }

  &.red{
    background: $red;
    color: $white;
  }
}
.row{
  display: flex;

  &.row-center{
    justify-content: center;
  }
  &.row-start{
    justify-content: flex-start;
  }
  &.row-end{
    justify-content: flex-end;
  }
  &.row-around{
    justify-content: space-around;
  }
  &.row-between{
    justify-content: space-between;
  }
  &.row-inline-center{
    flex-direction: row;
    justify-content: center;
  }
}

.title-section{
  text-align: center;

  &.title-left{
    text-align: left
  }
  &.title-right{
    text-align: right;
  }

  & > h1{
    font-family: 'Aller', sans-serif;
    font-size: 2.25em;
    margin-bottom: 0;

    & > span{
      color: $red;
    }
  }

  & > p{
    font-family: 'Aller Light', sans-serif;
    font-size: .8em;
  }
}

// first section

.flexy-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 30px;
  text-align: center;

  & > .flexy-icon{
    border-radius: 50%;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    width: 150px;

    & > img{
      left: 50%;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      width: 50%;
    }

    &::before{
      content: "";

      border: solid 3px $black;
      border-radius: 50%;
      height: 150px;
      left: 50%;
      opacity: 0;
      padding: 25px;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.15s ease-out;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      width: 150px;
    }

    &:hover{
      &::before{
        border-color: $black;
        opacity: 1;
        padding: 15px;
      }
    }
  }

  & > .flexy-desc{
    & > h6{
      font-family: 'Aller', sans-serif;
      font-size: 1.25em;
      margin: 20px 0 0 0;
    }
    & > p{
      font-family: 'Aller light', sans-serif;
      font-weight: lighter;
      font-size: .85em;
      letter-spacing: -0.25px;
      margin: 0;
      margin-top: 10px;
    }
  }
}

// second section
#say{
  & .quote{
    max-width: 80%;
    position: relative;
    text-align: center;
    z-index: 2;

    &::before{
      content:"";
      
      background: url('../img/quote.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      height: 100px;
      left: -30px;
      opacity: 0.5;
      position: absolute;
      top: -30px;
      width: 100px;
      z-index: -1;
    }

    & > p.message{
      font-family: 'Aller Light', sans-serif;
      font-size: 1.15em;
    }

    & > p.author{
      font-family: 'Aller', sans-serif;
      font-style: italic;
    }
  }
}


// footer
footer{
  background: #111;
  display: flex;
  display: -webkit-flex;

  & > #nav-footer{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;

    & .navbar{
      padding: 20px;

      &.social-link{
        display: inline-flex;
        list-style: none;
        padding: 0 20px;

        & > li{
          margin: 0 10px;

          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }

          & > a{
            color: $white;
            text-decoration: none;
          }
        }
      }

      &.logo{
        color: $white;
        font-family: 'Aller', sans-serif;
        font-size: 1.25em;
        margin: 0;
        padding: 0 20px;
        text-decoration: none;

        & > span{
          color: $red;
        }

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
#gallery{
  & .gallery-wrap{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    padding-top: 20px;

    & > div{
      border-radius : 5px ;
      background-repeat: no-repeat;
      background-size: cover;
    }

    & > div:nth-child(even){
      background-image: url('../img/bg.jpg');
    }
    & > div:nth-child(odd){
      background-image: url('../img/guitar.jpg');
    }
    & > div.biggest{
      grid-column : 3 / 5 ;
      grid-row : 1 / 3 ;
    }
    & > div.wide{
      grid-column : 1 / 3 ;
      grid-row : 2 ;
    }
  }
}
