/* Larger that laptop */
@media (max-width: 1200px) {
  .container {
    max-width: 90%; } }

/* This is basically a decent laptop, up to an average external display */
@media (max-width: 992px) {
  .container {
    max-width: 90%; }
  #gallery .gallery-wrap {
    grid-auto-rows: minmax(165px, auto); } }

/* Up to a tablet (includes iPads in landscape) */
@media (max-width: 768px) {
  .container {
    max-width: 85%; }
  .flexy-item > .flexy-desc > h6 {
    font-size: 1.08em; }
  .flexy-item > .flexy-desc > p {
    font-size: .75em; }
  #say .quote > p.message {
    font-size: 1em; }
  #gallery .gallery-wrap {
    grid-auto-rows: minmax(150px, auto); } }

/* Smaller than an iPad portrait (so all phones) */
@media (max-width: 480px) {
  header > nav {
    display: block;
    margin: 10px 0; }
    header > nav > .navbar.logo {
      display: block;
      padding-bottom: 0px; }
    header > nav > .navbar.logo:active + header > nav > .navbar.nav, header > nav > .navbar.logo:focus + header > nav > .navbar.nav {
      display: block; }
    header > nav > .navbar.nav {
      display: none;
      margin-left: 10px; }
      header > nav > .navbar.nav > li {
        border-bottom: 1px solid #fff;
        display: block;
        font-size: 1.125em;
        padding: 0; }
        header > nav > .navbar.nav > li > a {
          display: block;
          padding: 15px 15px 5px; }
          header > nav > .navbar.nav > li > a::after {
            display: none; }
          header > nav > .navbar.nav > li > a::before {
            display: none; }
          header > nav > .navbar.nav > li > a:hover, header > nav > .navbar.nav > li > a:active, header > nav > .navbar.nav > li > a:focus {
            background: rgba(255, 255, 255, 0.3); }
  header > .overlay > div > h1 {
    font-size: 2.25em; }
  header > .overlay > div > p {
    font-size: .875em; }
  .container {
    max-width: 90%; }
  .row.row-inline-center {
    flex-direction: column; }
  .title-section {
    padding: 0 20px; }
    .title-section > h1 {
      font-size: 1.75em; }
  .flexy-item {
    margin: 25px 0px; }
    .flexy-item > .flexy-icon {
      margin: 0 auto 20px; }
  #say .quote > p.message {
    font-size: .9em; }
  #gallery .gallery-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(125px, auto); }
    #gallery .gallery-wrap > div.biggest {
      grid-column: 1 / 3;
      grid-row: 2 / 4; }
    #gallery .gallery-wrap > div.wide {
      grid-row: 4; } }

/*# sourceMappingURL=mobile.css.map */