/**
* Design for flexbox CSS component practice
* Made by Ashari Muhammad Hisbulloh (asharimh97@gmail.com)
* Yogyakarta, 11 October 2017
**/
html, body {
  background: #fff;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0; }

@font-face {
  font-family: 'Arca Majora';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/arcamajora-heavy.woff2") format("woff2"), url("../fonts/arcamajora-heavy.woff") format("woff"); }

@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aller_rg.woff2") format("woff2"), url("../fonts/allet_rg.woff") format("woff"); }

@font-face {
  font-family: 'Aller Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aller_lt.woff2") format("woff2"), url("../fonts/aller_lt.woff") format("woff"); }

header {
  display: flex;
  display: -webkit-flex;
  height: 100vh;
  background: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header > nav {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
    font-family: 'Aller Light', sans-serif;
    justify-content: space-between;
    position: absolute;
    width: 100%; }
    header > nav > .navbar {
      padding: 20px; }
      header > nav > .navbar.logo {
        color: #fff;
        font-family: 'Aller', sans-serif;
        font-size: 1.5em;
        text-decoration: none; }
        header > nav > .navbar.logo > span {
          color: #e74c3c; }
      header > nav > .navbar.nav {
        display: flex;
        padding: 0 15px 0 0;
        justify-content: flex-end;
        list-style: none; }
        header > nav > .navbar.nav > li {
          margin: 0 3px;
          padding: 0px 15px; }
          header > nav > .navbar.nav > li > a {
            color: #fff;
            position: relative;
            text-decoration: none;
            text-transform: lowercase;
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out; }
            header > nav > .navbar.nav > li > a::after {
              background: #fff;
              bottom: -5px;
              content: "";
              height: 2px;
              left: 0;
              position: absolute;
              width: 0px;
              transition: all 0.1s ease-in;
              -webkit-transition: all 0.1s ease-in;
              -moz-transition: all 0.1s ease-in;
              -o-transition: all 0.1s ease-in; }
            header > nav > .navbar.nav > li > a:hover::after {
              width: 20px; }
  header > .overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    display: -webkit-flex;
    flex: 1;
    justify-content: center; }
    header > .overlay > div {
      color: #fff;
      text-align: center;
      font-family: 'Aller Light', sans-serif; }
      header > .overlay > div > * {
        margin: 0;
        padding: 0; }
      header > .overlay > div > h1 {
        font-size: 4.5em;
        font-weight: lighter; }
      header > .overlay > div > p {
        font-size: 1.25em; }

.container {
  margin: auto;
  position: relative;
  width: 1080px; }

.flexy-section {
  padding: 30px 0; }
  .flexy-section.black {
    background: #000;
    color: #fff; }
  .flexy-section.white {
    background: #fff;
    color: #000; }
  .flexy-section.cloud {
    background: #ecf0f1;
    color: #000; }
  .flexy-section.red {
    background: #e74c3c;
    color: #fff; }

.row {
  display: flex; }
  .row.row-center {
    justify-content: center; }
  .row.row-start {
    justify-content: flex-start; }
  .row.row-end {
    justify-content: flex-end; }
  .row.row-around {
    justify-content: space-around; }
  .row.row-between {
    justify-content: space-between; }
  .row.row-inline-center {
    flex-direction: row;
    justify-content: center; }

.title-section {
  text-align: center; }
  .title-section.title-left {
    text-align: left; }
  .title-section.title-right {
    text-align: right; }
  .title-section > h1 {
    font-family: 'Aller', sans-serif;
    font-size: 2.25em;
    margin-bottom: 0; }
    .title-section > h1 > span {
      color: #e74c3c; }
  .title-section > p {
    font-family: 'Aller Light', sans-serif;
    font-size: .8em; }

.flexy-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 30px;
  text-align: center; }
  .flexy-item > .flexy-icon {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    width: 150px; }
    .flexy-item > .flexy-icon > img {
      left: 50%;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      width: 50%; }
    .flexy-item > .flexy-icon::before {
      content: "";
      border: solid 3px #000;
      border-radius: 50%;
      height: 150px;
      left: 50%;
      opacity: 0;
      padding: 25px;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.15s ease-out;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      width: 150px; }
    .flexy-item > .flexy-icon:hover::before {
      border-color: #000;
      opacity: 1;
      padding: 15px; }
  .flexy-item > .flexy-desc > h6 {
    font-family: 'Aller', sans-serif;
    font-size: 1.25em;
    margin: 20px 0 0 0; }
  .flexy-item > .flexy-desc > p {
    font-family: 'Aller light', sans-serif;
    font-weight: lighter;
    font-size: .85em;
    letter-spacing: -0.25px;
    margin: 0;
    margin-top: 10px; }

#say .quote {
  max-width: 80%;
  position: relative;
  text-align: center;
  z-index: 2; }
  #say .quote::before {
    content: "";
    background: url("../img/quote.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100px;
    left: -30px;
    opacity: 0.5;
    position: absolute;
    top: -30px;
    width: 100px;
    z-index: -1; }
  #say .quote > p.message {
    font-family: 'Aller Light', sans-serif;
    font-size: 1.15em; }
  #say .quote > p.author {
    font-family: 'Aller', sans-serif;
    font-style: italic; }

footer {
  background: #111;
  display: flex;
  display: -webkit-flex; }
  footer > #nav-footer {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between; }
    footer > #nav-footer .navbar {
      padding: 20px; }
      footer > #nav-footer .navbar.social-link {
        display: inline-flex;
        list-style: none;
        padding: 0 20px; }
        footer > #nav-footer .navbar.social-link > li {
          margin: 0 10px; }
          footer > #nav-footer .navbar.social-link > li:first-child {
            margin-left: 0; }
          footer > #nav-footer .navbar.social-link > li:last-child {
            margin-right: 0; }
          footer > #nav-footer .navbar.social-link > li > a {
            color: #fff;
            text-decoration: none; }
      footer > #nav-footer .navbar.logo {
        color: #fff;
        font-family: 'Aller', sans-serif;
        font-size: 1.25em;
        margin: 0;
        padding: 0 20px;
        text-decoration: none; }
        footer > #nav-footer .navbar.logo > span {
          color: #e74c3c; }
        footer > #nav-footer .navbar.logo:hover {
          text-decoration: none; }

#gallery .gallery-wrap {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
  padding-top: 20px; }
  #gallery .gallery-wrap > div {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover; }
  #gallery .gallery-wrap > div:nth-child(even) {
    background-image: url("../img/bg.jpg"); }
  #gallery .gallery-wrap > div:nth-child(odd) {
    background-image: url("../img/guitar.jpg"); }
  #gallery .gallery-wrap > div.biggest {
    grid-column: 3 / 5;
    grid-row: 1 / 3; }
  #gallery .gallery-wrap > div.wide {
    grid-column: 1 / 3;
    grid-row: 2; }

/*# sourceMappingURL=style.css.map */